<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="align-right">
        <button type="button" class="btn boton-primario">Iniciar sesión</button>
        <button type="button" class="btn boton-primario">Registrarse</button>
    </div>
    <div class="container">
        <div class="logo">
            <img src="assets/images/logoAlarmPill.png" alt="Logo AlarmPill">
        </div>
        <div class="contenido">
            <p class="titulo"> <span class="alarm">Alarm</span><span class="pill">Pill</span></p>
            <ol>
                <li>Gestiona tu medicación con facilidad y precisión.</li>
                <li>Registra Medicamentos: Añade y actualiza información clave.</li>
                <li>Consulta y Organiza: Accede a tu lista de medicamentos y vías de administración.</li>
                <li>Sincronización en Tiempo Real: Mantén todos tus datos actualizados en la app móvil y web.</li>
                <li>Interfaz intuitiva para una administración eficiente de tu salud.</li>
            </ol>
        </div>
    </div>
</body>
</html>