<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="row">
        <div class="col-md-3">
          <div></div>
            <div class="logo">
                <p class="alarm-pill"> <span class="alarm">Alarm</span><span class="pill">Pill</span></p>
                <img src="assets/images/logoAlarmPill.png" alt="Logo AlarmPill">
            </div>
        </div>
        <div class="col-md-9">
          <div class="row row-close">
            <button type="button" class="btn boton-primario cerrar-sesion" routerLink="/">Cerrar sesión <img class="img-close" src="./assets/images/close.png" alt="cerrar"></button>         
          </div>
          <div class="row row-botones">
            <button type="button" class="btn boton-primario medicamento" routerLink="/medicines">Medicamento</button>
            <button type="button" class="btn boton-primario administracion" routerLink="/administration">Vía de administración</button>
          </div>  
          <div class="row row-descripcion">     
            <ul>
                <li><span>Gestiona tu medicación con facilidad y precisión</span>.</li>
                <li><span>Registro de Medicamentos Simplificado: </span> Añade y actualiza la información de tus medicamentos de forma rápida y sencilla.</li>
                <li><span>Consulta y Organización Efectiva: </span>Accede a tu lista de medicamentos y vías de administración de manera clara y estructurada.</li>
                <li><span>Sincronización en Tiempo Real: </span>Mantén todos tus datos actualizados tanto en la app móvil como en la web, asegurando que siempre tengas la información más reciente.</li>
                <li><span>Interfaz Intuitiva:</span>   Disfruta de una experiencia de usuario amigable que facilita la administración de tu salud, permitiéndote enfocarte en lo que realmente importa.</li>                
            </ul>            
          </div>            
        </div>
    </div>    
</body>
</html>