<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="row">
        <div class="col-md-3">
            <div class="logo">
                <p class="alarm-pill"> <span class="alarm">Alarm</span><span class="pill">Pill</span></p>
                <img src="assets/images/logoAlarmPill.png" alt="Logo AlarmPill">
            </div>
        </div>
        <div class="col-md-9 ">
            <p class="titulo">Inicia sesión para continuar</p>
            <form class="formulario-login">
                <div class="form-group">
                    <label for="email" class="label">Correo electrónico</label>
                    <input type="email" id="email" name="email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="password" class="label">Contraseña</label>
                    <input type="password" id="password" name="password" class="form-control" required>
                </div>
                <div class="form-group">
                    <button type="button" class="btn boton-primario" routerLink="/main">Iniciar sesión</button>                    
                </div> 
            </form>
            <div class="enlace">
                <a routerLink="/register">Si no tienes cuenta <span class="registro" routerLink="/register">Regístrate aquí</span></a>
            </div> 
        </div>
    </div>
</body>
</html>
